.dashboard-section {
  height: 87.5vh;
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 90%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 90%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 48%, hsla(355, 100%, 90%, 0.8) 0px, transparent 50%),
    radial-gradient(at 67% 51%, hsla(340, 100%, 90%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 90%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 88%, hsla(242, 100%, 90%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 90%, 1) 0px, transparent 50%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 -1rem 0 -0.75rem rgb(180, 180, 240);
}

.todo-content {
  background: hsla(0, 0%, 100%, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem;
  max-height: 40rem;
  min-height: 40rem;
  min-width: 10rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

.todo-label {
  flex: 1;
}

.todo-list {
  width: 100%;
  max-width: 30rem;
  max-height: 30rem;
  min-height: 30rem;
  flex: 10;
  overflow-y: auto;
  padding: 0;
}

.todo-list li {
  margin: 0;
  list-style: none;
  padding: 1rem 0.5rem;
  box-shadow: 0 0.3rem 0 -0.2rem hsla(0, 0%, 0%, 0.08);
  display: flex;
  flex-wrap: none;
  justify-content: space-between;
}

.todo-item-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.todo-item-button-delete {
  background: hsla(0, 0%, 0%, 0);
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  margin: none;
  right: 0;
  border: none;
}

.todo-item-button-delete:hover {
  /* background: hsla(0, 0%, 100%, 0.75); */
  color: hsl(5, 80%, 50%);
  right: 0;
  border: none;
}
.line-through {
  text-decoration: line-through;
}

/* -------------------- Todo form -------------------- */

.input-group button {
  background: white;
  border: none;
  color: var(--color-grey);
  cursor: pointer;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 0;
  transition: all ease 100ms;
  width: 2.5rem;
}

.input-group button:hover,
.input-group button:active {
  background: hsla(0, 0%, 0%, 0.08);
  color: hsl(222, 100%, 65%);
}

.button-icon {
  width: 1.5rem;
}

.input-group input {
  background: white;
  border: 2px solid black;
  border-right: none;
  color: var(--color-black);
  flex: 1;
  font-size: 1rem;
  height: 2.5rem;
  outline: none;
  padding: 0 0.5rem;
  transition: all ease 100ms;
}

.input-group input::placeholder {
  color: hsla(0, 0%, 00%, 0.4);
}

.input-group {
  align-items: center;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  max-width: 20rem;
}

.input-group:focus-within {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.5);
  outline: auto;
}
